*.log
.DS_Store
.editorconfig
.env
.env.backup
.env.production
.mcp.json
.phpactor.json
.phpunit.result.cache
/.claude
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/speakers/profile-pictures
/public/storage
/storage/*.key
/storage/pail
/vendor
boost.json
Homestead.json
Homestead.yaml
Thumbs.db
/.antigravitycli
/.gemini

